<h1>Register</h1>
<form>
	<fieldset>
		<legend>Your Name</legend>
		<label for="first">First:
			<input type="text" name="firstName">
		</label>

		<label for="last">Last:
			<input type="text" name="lastName">
		</label>
	</fieldset>

	<fieldset>
		<legend>Email Address:</legend>
		<label for="email">Email:
			<input type="text" name="email">
		</label>
		<label for="email">Confirm Email:
			<input type="text" name="cemail">
		</label>
	</fieldset>

	<fieldset>
		<legend>Password:</legend>
		<label for="password">Password:
			<input type="password" name="password">
		</label>
		<label for="email">Confirm Password:
			<input type="password" name="cpassword">
		</label>
	</fieldset>

	<p>
		<input type="submit" value="Register">
	</p>
</form>